@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,400;1,500;1,600&family=Roboto:wght@700&display=swap');

*{
    font-family:'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

#container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    
  

    
}





.header{
    width: 100%;
    height: 100px;
    background: #a633c9;
    display: grid;
    padding: 0;
    margin: aut;
    /*1fr fração e colunas iguais*/
    grid-template-columns: 1fr 2fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.img{
    display: flex;
    width: 100%;
}

.item{
    color: rgb(9, 126, 34);
    padding: 10px;
}

.imagem{
    
    width: 50%;
  
}



.pesquisar{
    width: 100%;
    padding: 5px;
}

.texto-menu{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.navbar{
    width: 100%;
    display: grid;
    /*repeat= repete varias vezes a mesma medida, 7colunas com a mesma medida*/
    grid-template-columns: repeat(7,auto);
    padding: 20px;
}

.texto-navbar{
    color: #f8f8f8;
    text-decoration: none;
    background-color: #158526;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5px 7.5px;
    padding: 10px;
    transition: linear;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    
}


.texto-pricipal{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 27px;
    /*identifica to box heigth*/
    text-align: center;
    margin: 40 0px;
    color: #21a81a;
}


.categorias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  
}

.categorias-img{
    width: 100%;
    height: 272px;
}
.promocoes{
    margin-top: 40px;
}

.promocoes-titulo{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 41px;
    /* identical to box height */
    color: #44071e;
    text-align: center;
}



.promocoes-img{
    width: 100%;
   
    
}

/*altera o tamanho padrao de cada item do corosel*/

.carousel__slide{
    /*define que  a largura maxima de cada item do carousel vai ser de 40% o padrão é 60%*/
    max-width: var(--carousel-slide-width, 40%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.banner2{
    margin-top:0 auto;
}

.banner2-img{
    width: 32%;
}

.rodape{
    background-color: #f7f3f8;
    display: grid;
    grid-template-columns: repeat(4,1fr);

}

.rodape-item{
    color: #fff;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.rodape-titulo{
color: rgb(85, 33, 33);
;
}

.rodape-texto{
    font-weight: normal;
    font-size: 13px;
    text-decoration: none;
    color: rgb(85, 33, 33);
}
/*final da versao desktop*/


/*inicio da versao mobile*/
@media only screen and (max-width: 768px){
    #container{
        width: 100%;

    }

    .header{
        grid-template-columns: 1fr;
        height: auto;
        text-align: center;
    }
    
    #pesquisar{
        width: 100%;
        padding: 15px;
    }

    .item{
        padding: 5px;
    }

    .navbar{
        grid-template-columns: 1fr;
    }

    .item-navbar{
        padding: 15px;
        background-color: #158526;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1.5px 7.5px;
    }

    .categorias{
        grid-template-columns: 1fr;
    }

    .rodape{
        grid-template-columns: 1fr;
    }

    .carorusel__slide{
        max-width: var(--carousel-slide-width,80%);
    }



}