*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container{
    width: 100%;
    justify-content: center;
    align-content: center;
}

body{
    margin: 0;
    padding: 0;
    background-color: #c354e5
}

.imagem{
    width: 15%;
}

.texto-header{
    margin-top: 6%;
    width: 10%;
    color: #FFF;
    font-family: sans-serif;
    float: right;
  
}

.corpo{
    background-color: #c354e5;
}

form{
    text-align: center;
    color: #fff;
    gap: 4px;
    display: grid;
}

h2{
    margin-top: 50px;
    text-align: center;
    color: #fff;
}

h5{
    width: 100%;
    margin-top: 50px;
    text-align: center;
    color: #fff;
}



.input-cadastro{
    width: 50%;
    padding: 5px ;
    margin-top: 7px;
    border-radius: 3px;
    border: none;
}


.cd{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif ;
}

.imput-cadastro{
    width: 30%;
}

#form-cadastrar{
    margin-top: 3%;
    grid-template-columns: repeat(2,auto)
}

.btn-cadastrar{
    height: 27px;
    width: 10%;
    margin-top: 90px;
    background-color: #fff;
    color: #c354e5;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.btn-criar{
    text-align: center;
    background-color: #fff;
    color: rgb(130, 6, 164);
    border-radius: 6px;
    border: none;
    width: 10%;
    height: 27px;
    cursor: pointer;
}

.center{
    text-align: center;
}




