*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container{
    width: 100%;
    justify-content: center;
    align-content: center;
}

body{
    margin: 0;
    padding: 0;
    background-color: #c354e5
}

.corpo{
    background-color: rgb(92, 201, 92);
}

form{
    text-align: center;
    color: #fff;
    gap: 4px;
    display: grid;
}

h2{
    margin-top: 50px;
    text-align: center;
    color: #fff;
}

h5{
    width: 100%;
    margin-top: 50px;
    text-align: center;
    color: #fff;
}

.input-login{
    width: 30%;
    padding: 5px ;
    margin-top: 7px;
    border-radius: 3px;
    border: none;
   
}

#form-cadastrar{
    margin-top: 50px;
    grid-template-columns: repeat(2,1fr);
    display: grid;
    gap: 10px;
}

.input-cadastro{
    width: 40%;
    padding: 5px ;
    margin-top: 10px;
    border-radius: 3px;
    border: none;
   
}

.btn-login{
    margin-top: 30px;
    background-color: #fff;
    color: rgb(130, 6, 164);
    border-radius: 6px;
    border: none;
    width: 10%;
    height: 27px;
    cursor: pointer;
}

.cd{
    
    font-family: Arial, Helvetica, sans-serif ;
}

.btn-cadastrar{
    margin-left: 96%;
    margin-top: 30px;
    background-color: #fff;
    color: rgb(89, 169, 43);
    border-radius: 6px;
    border: none;
    width: 10%;
    height: 27px;
    cursor: pointer;
}

.btn-criar{
    text-align: center;
    background-color: #fff;
    color: rgb(130, 6, 164);
    border-radius: 6px;
    border: none;
    width: 10%;
    height: 27px;
    cursor: pointer;
}